.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 1168.2em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-conner-left:before {
      background-position: 0em 0em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-conner-right:before {
      background-position: 0em -49.2em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-down:before {
      background-position: 0em -98.5em;
      width: 49.1996em;
      height: 49.1996em;
  }




  .icon.arrow-left:before {
      background-position: 0em -147.7em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -196.9em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-up:before {
      background-position: 0em -246.2em;
      width: 49.2002em;
      height: 49.2002em;
  }




  .icon.bag:before {
      background-position: 0em -295.5em;
      width: 8em;
      height: 8em;
  }




  .icon.bottle:before {
      background-position: 0em -303.5em;
      width: 8em;
      height: 8em;
  }




  .icon.box:before {
      background-position: 0em -311.5em;
      width: 8em;
      height: 8em;
  }




  .icon.cancel:before {
      background-position: 0em -319.5em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.cart:before {
      background-position: 0em -370.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.cat-daily:before {
      background-position: 0em -421.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.chat:before {
      background-position: 0em -424.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.checked:before {
      background-position: 0em -426.7em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.clip:before {
      background-position: 0em -475.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.clock:before {
      background-position: 0em -527.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.close:before {
      background-position: 0em -578.3em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.container:before {
      background-position: 0em -627.5em;
      width: 8em;
      height: 8em;
  }




  .icon.convert:before {
      background-position: 0em -635.5em;
      width: 3.8em;
      height: 3.8em;
  }




  .icon.cutlery:before {
      background-position: 0em -639.3em;
      width: 8em;
      height: 8em;
  }




  .icon.delete:before {
      background-position: 0em -647.3em;
      width: 1.8em;
      height: 2.1em;
  }




  .icon.download:before {
      background-position: 0em -649.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.edit:before {
      background-position: 0em -700.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.exit:before {
      background-position: 0em -703em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.home:before {
      background-position: 0em -705.4em;
      width: 47.7846em;
      height: 47.7846em;
  }




  .icon.info:before {
      background-position: 0em -753.2em;
      width: 33em;
      height: 33em;
  }




  .icon.lists:before {
      background-position: 0em -786.2em;
      width: 8em;
      height: 8em;
  }




  .icon.location:before {
      background-position: 0em -794.2em;
      width: 1.8393000000000002em;
      height: 2.3039em;
  }




  .icon.login:before {
      background-position: 0em -796.6em;
      width: 1.9em;
      height: 3.3em;
  }




  .icon.mail:before {
      background-position: 0em -799.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.menu:before {
      background-position: 0em -851.1em;
      width: 1.7601em;
      height: 1.56em;
  }




  .icon.minus:before {
      background-position: 0em -852.7em;
      width: 46.9em;
      height: 46.9em;
  }




  .icon.more:before {
      background-position: 0em -899.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.navigation:before {
      background-position: 0em -902em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.pencil:before {
      background-position: 0em -904.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.phone:before {
      background-position: 0em -955.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.phone-call:before {
      background-position: 0em -958em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.play:before {
      background-position: 0em -1005.4em;
      width: 49.4148em;
      height: 49.4148em;
  }




  .icon.plus:before {
      background-position: 0em -1054.9em;
      width: 44.8em;
      height: 44.8em;
  }




  .icon.question:before {
      background-position: 0em -1099.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.reload:before {
      background-position: 0em -1102.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.repeat:before {
      background-position: 0em -1104.5em;
      width: 2.4em;
      height: 2.2em;
  }




  .icon.sauce:before {
      background-position: 0em -1106.7em;
      width: 8em;
      height: 8em;
  }




  .icon.search:before {
      background-position: 0em -1114.7em;
      width: 2.3em;
      height: 2.3em;
  }




  .icon.youtube--color:before {
      background-position: 0em -1117em;
      width: 51.2em;
      height: 51.2em;
  }





