// xl - 1280
// lg - 1024
// md - 768
// sm - 640


font('Ubuntu-Regular','Ubuntu', 400)
font('Ubuntu-Bold','Ubuntu', 700)
$font = 'Ubuntu', sans-serif

//$windowSize = (xl lg md sm)
$windowSize = ("xl" 1280),\
							("lg" 1024),\
							("md" 768),\
							("sm" 640)

//Extends size
$listExtend = (0),\
							(4),\
							(8),\
							(10),\
							(12),\
							(16),\
							(24 16),\
							(32 24),\
							(48 32 24),\
							(80 64 32),\
							(100 68 48)

//Grid gap size
$gridGap = (4),\
					(8),\
					(20 16),\
					(28 16),\
					(32 24)

$listType = ("xs" 12 10),\
						("sm" 14 12),\
						("main" 16 16),\
						("md" 20 18),\
						("mdx" 24 20),\
						("lg" 32 24),\
						("lgx" 44 32 24),\
						("xl" 64 44)

//Icon size
$listIcon = ("xs" 12),\
						("sm" 16),\
						("md" 20),\
						("mdx" 24),\
						("lg" 32),\
						("lgx" 44),\
						("xl" 64)

//Border radius
$listBr = (4 8 12 16)

//Font weight
$listFw = (400 700)

//width-max container size
$listWmax = (640)

//color
$mark = #7ECA1D
$greenPrimary = #A9D96B
$greenLight = #F3F8ED
$linkColor = black

$gray = #adaeb9
$grayLight = #C4C5CC
$snow = #F1F2F6
$white = white
$red = #D00025

//TYPOGRAPHY COLORS
$typeMain = black

//UI COLORS
$borderHover = #bfc0c9
$fieldBackground = #f1f2f6
$border = $border-color = #dcdfe8
$overlay = rgba(32, 34, 44, 0.5)

//STATE COLORS
$colors = {
	'mark':$mark,
	'greenPrimary':$greenPrimary,
	'greenLight':$greenLight,
	'linkColor':$linkColor,
	'gray':$gray,
	'grayLight':$grayLight,
	'snow':$snow,
	'white':$white,
	'red':$red,
}
