//@import "grid/_grid.styl"
@import 'rupture'
@import "variable/_function.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "grid/grid.css"
@import "grid/extends.css"


@import "variable/config/_config.styl"
@import "variable/config/_grid.styl"
@import "variable/_default.styl"

@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $font
	color black
	line-height 1.4
	letter-spacing 0.01em

.main-cont
	center(1330px,20px)

.page
	f()
	fl()
	min-height 100vh

.content
	flex-grow 1
	overflow: hidden

.content--mid
	flex(mid)

.header
	+below(640px)
		margin: 30px 0
	margin: 60px 0

.header-logo
	+below(768px)
		width: 30%
	+below(640px)
		width: 90px

.partner-logo
	+below(768px)
		width: 30%
	+below(640px)
		width: 120px

.pack
	+below(768px)
		fw()
		align-items flex-start
		justify-content center
		gap(20px)
	+below(640px)
		display: grid
		grid-gap 20px
		grid-template-columns: repeat(2, 1fr)
		gap(0px)
		//grid-template-columns: repeat(auto-fill, minmax(12rem,1fr))
	f()
	justify-content space-between

.pack-el
	+below(768px)
		width 22%
	+below(640px)
		width: 100%
	width: 13%

.pack-el-icon
	background: $greenLight
	padding: 44px 10px
	flex(mid)
	.icon
		size 72px
		fill $mark

.step
	grid-gap 48px
.step__el
	f()
.step__numb
	font-size: 80px
	color $greenPrimary
	font-weight: 700
	line-height: .8
	margin-right: 32px
	text-shadow 4px 4px $mark

.video
	+below(640px)
		margin-left: -20px
		width calc(100% + 40px)
	padding: 30% 10%
	position relative
	cp()
	display block
	&:hover
		.icon
			opacity: 1
	.icon
		position absolute
		top 50%
		left 50%
		size 72px
		opacity: .6
		tr()
		transform translate(-50%,-50%)
.border-gradient
	background: linear-gradient(98.95deg, #E3EEFF 0%, #E4F6E4 52.6%, #FFEEE4 100%)
	padding: 12px
.border-gradient-inner
	background: white
	padding: 40px 20px

.why-wrap
	+below(640px)
		padding: 0
		background: none

.why
	+below(1024px)
		padding: 40px 5%
	+below(640px)
		padding: 0
	background: white
	padding: 40px 8%
.why-row
	+below(640px)
		grid-template-columns: repeat(2, 1fr)
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(3, 1fr)

.why__el-cond
	f()
	align-items: flex-end
.why__el-val
	+below(1024px)
		font-size: 44px
	+below(640px)
		font-size: 30px
	font-weight: 700
	color $mark
	@extend .type--xl
	line-height: 1
	margin-right: 10px

.why__el-type
	font-weight: 700
	color $mark
	@extend .type--md

.why-desr
	+below(1024px)
		font-size: 16px
	padding-left: 16px
	border-left 6px solid $mark


.why-info
	+below(768px)
		flex-flow row
		margin-top: 20px
		display: grid
		grid-gap 20px
		grid-template-columns: repeat(2, 1fr)
		//grid-template-columns: repeat(auto-fill, minmax(12rem,1fr))
	+below(640px)
		grid-template-columns: 1fr

.why-info__text
	text-align: left

.map
	+below(768px)
		margin-left: -20px
		width calc(100% + 40px)
	position relative
	min-height 450px
	padding: 20% 10%
.map-el
	background: $snow
	position absolute
	top 0
	left 0
	width: 100%
	height: 100%

.convert
	flex(mid)
	fl()
	.icon
		size 44px
		margin-bottom: 4px
		fill $grayLight
	span
		font-weight: 700


.footer
	+below(640px)
		padding-top: 40px
	padding-top: 60px

.footer__text
	+below(1024px)
		margin-left: 34px
	+below(768px)
		margin-left: 0
